data/
/.vscode
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.db
*.sqlite3
node_modules/
build/

# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
backend/celerybeat-schedule
backend/celerybeat-schedule.db
qdrant_storage/